---
platform: linux

image_resource:
  type: docker-image
  source: {repository: anoop2811/java8-gradle}

inputs:
- name: jhipster-git

outputs:
- name: jhipster-build

run:
  path: jhipster-git/ci/concourse/tasks/gradle-task.sh

params:
  GRADLE_ARGS:

caches:
- path: ~/.gradle/
